<a href="https://colab.research.google.com/github/dushuang2/hello-world/blob/master/pythonselftrain.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New Section

# Instroduction
This is Alex's self training on Python code. This is based on the following YouTube training [video](https://www.youtube.com/watch?v=_uQrJ0TkZlc&list=RDCMUCWv7vMbMWH4-V0ZXdmDpPBA&start_radio=1).

1. String

**String Input** can be defined as a variable and then be used in calculation.

In [ ]:
birth_year = input('Birth year: ')
age = 2023 - int(birth_year)
print(type(int(birth_year)))
print(age)

Birth year: 1976
<class 'int'>
47

Python **location** starts at 0.

In [ ]:
course = 'Python for beginners'
print(course[1:-1])

ython for beginner

String format

In [ ]:
first = 'Alex'
last = 'Zhu'
msg = f'{first} *{last}% is a coder.'
print(msg)

Alex *Zhu% is a coder.

String method

In [ ]:
course_repl = course.replace("beginners", "Experts")
print(course_repl)

Python for Experts

Numbers

In [ ]:
x = 10
x += 3
print(x)

13

In [ ]:
import math
print(math.ceil(2.9))

3

IF statement

In [ ]:
is_hot = False
is_code = True

if is_hot:
  print("It's a hot day.")
  print("Drink a lot of water.")
elif is_code:
  print("It's a code day.")
else:
  print("It's a lovely day.")
print("Enjoy your day.")

It's a code day.
Enjoy your day.

Execise #1 (IF, ELSE)

In [ ]:
weight = int(input('Weight: '))  #input always stores a string#
unit = input('(K)g or (L)lbs: ')

if unit.upper == 'K':
  converted = weight * 0.45
  print('Weight in Lbs: ' + str(converted))
else:
  converted = weight
  print('Weight in Kgs: ' + str(converted))

Weight: 65
(K)g or (L)lbs: K
Weight in Kgs: 65

WHILE loop

In [ ]:
i = 1
while i <= 1_0:  #"_"sign makes it readable.#
  print(i * "*")
  i = i + 2

*
***
*****
*******
*********

Execise #2: Guessing Game: To guess a secrete number 3 times

In [ ]:
secret_number = 9
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input('Guess: '))
  guess_count += 1
  if guess == secret_number:
      print('You won!')
      break
else:
  print('Sorry, you failed!')

Guess: 6
Guess: 9
You won!

Execise #3: Car Game: If type "help", list a help list. Start, Stop, Quit the car.

In [ ]:
command = ""
started = False
while True:
  command = input("> ").lower()
  if command == 'start':
    if started:
      print("Car is already started!")
    else:
      started = True
      print("Car started.")
  elif command == 'stop':
    if not started:
      print("Car is already stopped.")
    else:
      started = False
      print("Car stopped")
  elif command == 'help':
    print("""
start - to start the car
stop - to stop the car
quit - to quit
    """)
  elif command == 'quit':
    break
  else:
    print("Sorry, I don't stand that.")

> stop
Car is already stopped.
> started
Sorry, I don't stand that.
> start
Car started.
> quit

FOR loop: use this to print out 1-5. 2 methods, the 1st is easier.
 FOR loop is very useful to break list to single items.
> Indented block

In [ ]:
numbers = [1,2,3,4,5]
for item in numbers:
  print(item)  # Same as below but easier #

i = 0
while i < len(numbers):
  print(numbers[i])
  i = i + 1

1
2
3
4
5
1
2
3
4
5

In [ ]:
for item in 'Python':
  print(item)

P
y
t
h
o
n

In [ ]:
for items in ['john','mary','alex']:
  print(items)

john
mary
alex

Range(5, 10, 2) is to print from 5 to 10, with every 2. (1:47 in the video)

In [ ]:
for number in range(5,10,2):
  print(number)

5
7
9

Execise: to calcualte total price in a shopping cart

In [ ]:
prices = [10,20,30]

total = 0
for price in prices:
  total += price
print(f"Total: {total}")

Total: 60

Nested Loops

In [ ]:
for x in range(4):
  for y in range(3):
    print(f'({x}, {y})')

(0, 0)
(0, 1)
(0, 2)
(1, 0)
(1, 1)
(1, 2)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)

Execise: Draw this picture
XXXXX
XX
XXXXX
XX
XX

In [ ]:
numbers = [5,2,5,2,2]
for x_count in numbers:
  print('X' * x_count)

XXXXX
XX
XXXXX
XX
XX

In [ ]:
numbers = [5,2,5,2,2]
for x_count in numbers:
  output = ''
  for count in range(x_count):
    output += 'x'
  print(output)

xxxxx
xx
xxxxx
xx
xx

**Lists & List Method**

In [ ]:
numbers = [1,2,3,4,5]
numbers.insert(0, -1)  #Insert -1 to the 1st position#
print(numbers)
print(len(numbers))

[-1, 1, 2, 3, 4, 5]
6

In [ ]:
names = ['John', 'Bob', 'Mosh', 'Sarah', 'Mary']
print(names[2:])

John

Execise: To find the largest number in a list.

In [ ]:
numbers = [25, 12, 18, 5, 39, 22]
max = numbers[0]
for number in numbers:
  if number > max:
    max = number
print(max)

39

2D List (Important)

In [ ]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix[0][0])
matrix[0][0] = 20  # change 1 to 20 #
print(matrix)

1
[[20, 2, 3], [4, 5, 6], [7, 8, 9]]

To use nested loop to run through all elements in matrix.

In [ ]:
for row in matrix:
  for item in row:
    print(item)

20
2
3
4
5
6
7
8
9

list Method: append, insert, index (position index) , pop

In [ ]:
numbers = [5, 2, 1, 7, 4]
numbers.append(20) # add to the end#
numbers.insert(0, 10) #add from the start#
print(numbers)
print(50 in numbers) #true or false#
print(numbers.count(5)) # count how many 5's in the list#
numbers.sort() #sort a list#
numbers.reverse()
print(numbers)

numbers2 = numbers.copy() #copy a list#

[10, 5, 2, 1, 7, 4, 20]
False
[1, 2, 4, 5, 7, 10, 20]

Execise: to remove duplicates in a ist

In [ ]:
numbers = [2, 4, 6, 8, 6, 9]
uniques = []
for number in numbers:
  if number not in uniques:
    uniques.append(number)
print(uniques)

[2, 4, 6, 8, 9]

**Tuples**: Tuples are like list. But it can't be changed. Tuples use ().

In [ ]:
numbers = (1,2,3)

**Unpacking**: a powerful skill to unpack a list or a tuple.

In [ ]:
cooridnates = (1,2,3)
x, y, z = cooridnates
print(x)

1

**Dictionaries**:: a way in Python to stoare a pair of values, using {}.

In [ ]:
from typing_extensions import TypeVarTuple
customer = {
    "name": "John Smith",
    "age": 30,
    "is_verified": True
}
print(customer.get("name"))

John Smith

Execise: Translast number to word

In [ ]:
phone = input("Phone: ")
digits_mapping = {
    "1": "One",
    "2": "Two",
    "3": "Three",
    "4": "Four"
}
output = ""
for ch in phone:
  output += digits_mapping.get(ch, "!") + " " #If ch is not in, use !#
print(output)

Phone: 5463
! Four ! Three

Execise: Tranlate word into Emoji

In [ ]:
message = input (">") # by this, user can store a value.#
words = message.split(" ") # Split the sentence into words, by space#
emojis = {
    ":)": "üòÅ", # Windows log + period#
    ":(": "üòí"
}
output = ""
for word in words:
  output += emojis.get(word, word) + " "
print(output)

>this is great :)
this is great üòÅ

**Function and Parameters**: use "def" to define a function. Name it using lower case and "_". (Generally use 2-line space after a function.

In [ ]:
def greet_user(first_name, last_name):
  print(f'Hi {first_name} {last_name}!')
  print("welcome aboard")


print("Start")
greet_user("Alex", "Smith")
greet_user("Mary" , "Joe")
print("Finish")

Start
Hi Alex Smith!
welcome aboard
Hi Mary Joe!
welcome aboard
Finish

Keyword Arguments. Most of time use "positional argument" (like above). To increase code readability, use "keyword argument".

In [ ]:
def greet_user(first_name, last_name):
  print(f'Hi {first_name} {last_name}!')
  print("welcome aboard")


print("Start")
greet_user(first_name="Alex", last_name="Smith")
greet_user(last_name="Mary" , first_name="Joe") # position doesn't matter anymore#
print("Finish")

Start
Hi Alex Smith!
welcome aboard
Hi Joe Mary!
welcome aboard
Finish

Return Statement

In [ ]:
def square(number):
  return number * number

print(square(3))

9

Creating a Reusable Function

In [ ]:
def emoji_converter(message):
    words = message.split(" ") # Split the sentence into words, by space#
    emojis = {
      ":)": "üòÅ", # Windows log + period#
      ":(": "üòí"
    }
    output = ""
    for word in words:
      output += emojis.get(word, word) + " "

this is another test.